.app-parent {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}
.ai-parent {
    
}
.model-button-parent {
    width: 100%;
    text-align: center;
}
.layer-button-parent {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.layer-button-holder {
    display: inline;
    margin: 10px;
}
.layer-button {
    width: 20px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.model-parent {
    position: relative;
    text-align: center;
}
.layer-parent {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
}
.node-parent {
    display: block;
    width: 20px;
    height: 20px;
    margin: 20px;
    border-radius: 50%;
}
.svg-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.line {
    stroke-width: 1px;
    stroke: rgb(119, 119, 119);
}
.data-parent {

}
.table-parent {

}
table {
    width: 100%;
    border-spacing: 0;
}
tr {

}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.data-x {
    background-color: whitesmoke;
}
.data-y {
    background-color: lightpink;
}
.data-action {
    width: 60px;
}
.data-input {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.data-input:focus {
    outline: none;
}